/* Reset  */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* General */
    * {
        font-family: 'Roboto', sans-serif;
    }
    body {
        background-color: #F6F8F9;
    }
    .bg-white {
        background-color: white;    
    }  
    
    .container{
        width: 70%;
        margin: auto;
        border-radius: 10px;
        padding-bottom: 4%;

       
    }

/* Toboolist Header */
    header{
        padding: 7px;
        padding-left: 20px;
        margin-bottom: 45px;
    }
    h1{
        display: inline-block;
        vertical-align: middle;
        font-size: 50px;
    }
    #logo{
        vertical-align: middle;
    }
    
/* addtask addsection Menù */
    .menù-item{
        display: inline-block;
        width: auto;
        font-size: 13px;
        border-radius: 6px;
        background-color: aqua;
        text-align: center;
        padding: 7px;
        margin-top: 15px;
        margin-bottom: 10px;
        border-width: 0;
    }
    #menù1{
        background-color: #44ABF0;
        color: white;
        margin-left: 60px;
    }

    #menù2{
        margin-left: 5px;
        background-color: #ffffff;
        color: rgb(210, 210, 210);
        border: 1px solid rgb(210, 210, 210);
    }

/* line  */
    .line{
        border: 2px solid #F6F8F9;
        margin-bottom: 40px;
    }

/* New task section  */
    .section-titles{
        font-weight: bolder;
        font-size: 22px;
        color: #444851;
        margin-top: 20px;
    }
    section{
        margin-left: 60px;
        color: #444851;
        font-weight:510;
    }

    .row {
        padding: 10px;
    }

    .check {
        border-radius: 50%;
        height: 20px;
        width: 20px;
        border: 1px solid black;
        color: black;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        font-size: small;
    }

    .done {
        border-color: green;
        color: green;
    }

    .not-done {
        border-color: red;
        color: red;
    }

    .category{
        display: inline-block;
        padding: 6px;
        text-align: center;
        border-radius: 20px;
        font-size: 12px;
        color: white;
    }

    .editorial{
        background-color: #44ABF0;
    }

    .q1goals{
        background-color:#9C72E4;
    }
    .recruiting{
        background-color: #64C0A9;
    }
    .mobile{
        background-color:#F29E33 ;
    }
    .website{
        background-color:#D863A1 ;
    } 
    .sales{
        background-color: #B0C926;
    }